<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
    <title>Musify Me</title>
  </head>
  <body>
    <div style="font-family:'Arial Black', Gadget, sans-serif;font-size:40px">Music is the universal language of mankind<br></br><span style="font-family:'Lucida Console', Monaco, monospace;font-size:41px">LET IT SPEAK</span></div>
    <form action="/music" method="post">
      <label>Text input</label>
      <textarea name="text_to_convert";></textarea>
      <button type="submit" id="submit" style="position:absolute;top:800px;">Musify!</button>
    </form>
  </body>
</html>