<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    	<link rel="icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="static/style3.css">
		<title>Result</title>
	</head>
	<body>

		<div>Where <span style="font-family:'Times New Roman', Times, serif;font-size:70px;font-color:white;">WORDS</span> fail,<br>music <span style="font-family:'Times New Roman', Times, serif;font-size:70px;font-color:white;">SPEAKS</span></br></div>

		<p>Ooops! <br>We haven't found a way to translate math into music yet! =(</br> Go <a href="/">back</a> and try again!</p>
	</body>
</html>